<div class="container posts">
	<% @feed_entries.order("published_at desc").each do |feed_entry| %>
	<%

	blog = Blog.where(:id =>feed_entry.blog_id).first
	blog_name = blog.blogname
	favicon = blog.favicon

	%>
<div class="post-wrapper">
<div class="post-entry">
<div class="post-header">
<%= image_tag(favicon, class: "blogo") %>
<div class="post-title">
<%= link_to feed_entry.name, feed_entry.url %>
</div>
<div class="blog-title">
<%= blog_name %>
</div>
</div>
<div class="post-text">
<% if admin_signed_in? %>
<%= link_to "Удалить", feed_entry, method: :delete, data: { confirm: "Вы действительно хотите удалить?" }  %>
<% end %>
<%= feed_entry.summary.to_s.html_safe %>
<% published_at = feed_entry.published_at.strftime "Опубликовано %d.%m.%Y, в %H:%M" %>
<div class="pull-right">
<%= published_at %>
</div>
</div>
</div>
</div>
<% end %>
<div class="this-is-pagination" >
<%= will_paginate @feed_entries, previous_label: "< Туда", next_label: "Сюда >", renderer: BootstrapPagination::Rails  %>
</div>
</div>