<% @feed_entries.order("published_at desc").each do |feed_entry| %>

<%

blog = Blog.where(:id =>feed_entry.blog_id).first
blog_name = blog.blogname
favicon = blog.favicon

%>

<div class="post-content">
<h3><%= image_tag(favicon, class: "blog_icon") %><%= blog_name %> → <%= link_to feed_entry.name, feed_entry.url %></h3>  
<% if admin_signed_in? %>
<%= link_to "Удалить", feed_entry, method: :delete, data: { confirm: "Вы действительно хотите удалить?" }  %>
<% end %>
<%= feed_entry.summary.to_s.html_safe %>
<% published_at = feed_entry.published_at.strftime "Опубликовано %d.%m.%Y, в %H:%M" %>
<div class="well-right well-sm">
<%= published_at %>
</div>

</div>
  <% end %>  
<%= will_paginate @products %>
