<div>  
<% @feed_entries.each do |feed_entry| %>
<% #for entry in FeedEntry::all(:limit => 5 ) %>  

<h3><%= link_to feed_entry.name, feed_entry.url %> </h3>  
<%= link_to "Удалить", feed_entry, method: :delete, data: { confirm: "Вы действительно хотите удалить?" }  %>
<div class="post-content">
<%= feed_entry.summary.to_s.html_safe %>
<%= feed_entry.published_at %>
</div>
  <% end %>  
</div>  
<%= will_paginate @products %>
