<h1>Список блогов</h1>

<table class="table">
<thead>
  <th>Название блога</th>
  <th>Автор</th>
  <th>Статус</th>
  <th>Возраст</th>
</thead>
  <tbody>
    <% @blogs.each do |blog| %>
      <tr class="<%= row_color(blog) %>">
        <td><%= link_to blog.title, blog %> <span class="pull-right"><%= post_count(blog) %></span>
          <% if current_user && current_user.admin? %>
          |
            <%= link_to edit_blog_path(blog) do %>
              <span class="glyphicon glyphicon-edit"></span>
            <% end %>
            <%= link_to blog, method: :delete, data: { confirm: 'Точно удаляем?' } do %>
              <span class="glyphicon glyphicon-remove"></span>
            <% end %>
          <% end %>
        </td>
        <td>
          <%= blog.author %>
        </td>
        <td>
          <%= is_approved(blog) %>
        </td>
        <td><%= how_old(blog) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>