<% posts.each do |post| %>

  <h2>
    <%= link_to post.title, post.link %>
  </h2>
  <p class="lead">
      Автор: <%= post.author %>
  </p>
  <p><span class="glyphicon glyphicon-time"></span>
    Опубликовано: <%= nice_russian_date(post) %></p>
  <p>
    <span id="votes-<%= post.id %>"><%= post.reputation_for(:votes).to_i %></span>
    <% if current_user && !current_user.voted_for?(post) %>
      <%= link_to '+', vote_post_path(post, type: "up"), method: :post, remote: true %> |
      <%= link_to '-', vote_post_path(post, type: "down"), method: :post, remote: true %>
    <% end %>
  </p>
  <hr>
  <div class="post-body">
    <%= post.body.html_safe if post.body %>
  </div>
  <hr>
<% end %>

<%= will_paginate posts, previous_label: "← Туда", next_label: "Сюда →" %>
