<% if admin_signed_in? %>
<!--ADMIN AREA-->
<div class="navbar navbar-inverse">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">Dashboard</a>
                </div>
                <div class="navbar-collapse collapse navbar-inverse-collapse">
                <ul class="nav navbar-nav navbar-left">
                          <% if admin_signed_in? %>
                            <li>Logged in as <strong><%= current_admin.email %></strong>.</li>
                            
                            <%= link_to "Logout", destroy_admin_session_path, method: :delete %>
                          <% else %>
                            <%= link_to "Sign up", new_admin_registration_path %> |
                            <%= link_to "Login", new_admin_session_path %>
                          <% end %>
                          </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <li><%= link_to 'Блоги', blogs_path %></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Записи<b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><%= link_to 'Новая запись', new_feed_entry_path %></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                      </ul>
                    </li>
                  </ul>
                </div><!-- /.nav-collapse -->
              </div>
<!--END OF ADMIN AREA-->
<% end %>
<div class="head">
          <div class="container">
          <div class="top-menu">
              <ul class="pull-right">
                  <li><%= link_to "Добавить блог", add_blog_path %></li>
              </ul>
          </div>
          <div class="logo">
          <img src="/assets/gamepad.jpg" alt="">
            <div class="title">
            <%= link_to "Наша блогосфера", root_path %>
            <div class="subtitle">с преферансом и поэтессами :)</div>
            </div>
          </div>
          <!-- div class="bottom-menu pull-right">
            <a href="">Главная</a>
            <a href="">Блоги</a>
            <a href="">Стримы</a>
          </div-->
          </div>
</div>
<div class="dark-emperor">
  <div class="daddy-blue">
    <div class="baby-blue">
      <div class="container">
        <div class="news pull-left">
        Последние новости:
          <ul>
            <li><a href="">News</a></li>
            <li><a href="">News</a></li>
            <li><a href="">News</a></li>
            <li><a href="">News</a></li>
            <li><a href="">News</a></li>
            <li><a href="">News</a></li>
          </ul>
        </div>
        <div class="featured pull-right">
          <a href="#"><img src="http://lorempixel.com/output/abstract-q-c-500-250-2.jpg" alt="" width="500" height="250">
          <span class="title">Заголовок записи</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>