<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>


<div id="admin_nav">
        <% if admin_signed_in? %>
          Logged in as <strong><%= current_admin.email %></strong>.
          <%= link_to 'Edit profile', edit_admin_registration_path %> |
          <%= link_to "Logout", destroy_admin_session_path, method: :delete %>
        <% else %>
          <%= link_to "Sign up", new_admin_registration_path %> |
          <%= link_to "Login", new_admin_session_path %>
        <% end %>
      </div>

      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>

      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>